<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Photothèque</title>
</head>
<body>
<header>
    <h1>Photothèque</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <!-- <li><a href="/albums/home">Albums</a></li> -->
            <li><a href="/albums/add">Ajouter un Album</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
